* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    background-color: #1a1a1f;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(255,255,255,0.2);
} 

h1 {
    font-size: 2em;
    width: auto;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: rgba(255, 255, 255, .9);
}

a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
section, article {
    width: 70%;
    margin-left: 15%;
}

#banner {
    /*background-image: url("./images/background.png");
    background-size: cover;*/
    background-color: #1a1a1f;
    color: rgba(255, 255, 255);
    text-align: center;
    cursor: default;
    padding: 10em 4em 9em 4em;
}

/*------------ Images -----------------*/

.content, .title{
    color: rgba(255,255,255,.9);
    padding: 5px;
    width: 100%;
}


/* -------------------- Button ------------------ */
button {
    background: none;
    border: solid 2px;
    border-color: rgb(33, 105, 239);
    color: rgba(255,255,255,.7);
    padding: 10px;
    cursor: pointer;
}

button:hover {
    border-color: rgba(33, 105, 239, .7);
    color: rgba(255,255,255,.9);
}

.btn a{
    color: white;
    text-decoration:none;
    text-align: center;
    display:block;  
    font-size: 2em;
    margin-top: 0.5em;
}

.btn, .started{
    transition: 0.3s;     
}

.btn{
    height: 4em;
    font-weight: 1000;
    overflow: hidden;
    width: 20em;
}

.btn:hover .started{
    margin-top: 0em;
}

.arrow {
    border: solid white;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 10px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Scroll to top */
#scroll {
    display: none; 
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    bottom: 20px;
    right: 10px; 
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: auto;
    border-radius: 10px;
    background: rgb(46, 46, 51);
}

#scrollBack:hover {
    background-color: #555;
}
#scrollBack .arrow {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    margin: 1em 1em 0.2em 1em;
}

/* ----------------------- Menu -------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10%;
    background: rgb(46, 46, 51);
    width:100%;
    box-sizing: border-box;
    opacity: 90%;
    z-index: 1000;
}

header .logo{
    opacity: 0.8;
    text-decoration: none;
    color: #ffffff;
    height:50px;
    margin-left: 5%;
    line-height: 50px;
    font-size:24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a{
    opacity: 0.8;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: 900;
}

header nav ul li a:hover {
    opacity: 1;
}

header nav ul li button{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

header nav ul li button:hover {
    opacity: 1;
}
.dropdown {
    overflow: hidden;
}

.dropdown .dropButton {
    width: auto;
    font-size: inherit;
    border: none;
    font-weight: bold;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropButton{opacity: 0.8}

.dropdown:hover .dropButton {
    opacity: 1;
}


.dropdownContent {
    display: none;
    position: absolute;
    font-weight: bold;
    color: black;
    background-color: rgba(256, 256, 256);
    min-width: 160px;
    overflow: auto;
    z-index: 5;
}

.dropdownContent a {
    color: black;
    font-weight: bold;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownContent a:hover {
    background-color: #2196f3;
}

.show {display: block;} 

.dropdownContent {
    display: block;
    visibility: hidden;
    opacity:0;
    transition:.5s ease all;
}

.dropdownContent.show {
    display: block;
    visibility: visible;
    opacity:1;
    transform: translateY(0);
    transition:.5s ease all;
}

.toggle{
    color: #ffffff;
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*--------- Article --------*/
article {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.open {
    margin-top: 50px;
}
.end {
    margin-bottom: 50px;        
}
article h1 {
    color: rgba(255, 255, 255, .9);
}
.article {
    display: flex;
    flex-flow: row;
   margin-top: 2em;
}
article img {
    width: 50%;
    border-radius: 20px;
}
.imgleft {
    margin-right: 4em;
}
.imgright {
    margin-left: 4em;
}
.imgcenter {
    width: 70%;
    margin-left: 15%;
}
.articleContent {
    vertical-align: middle;
}

#icon {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.inner .content h1 {
    font-size: 3em;
}
/* ------Responsive---------*/
@media only screen and (max-width: 900px) {
    .frame {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    #textDef {
        width: 100%;
    }
    #textDef .title {
        display: flex;
        justify-content: center;
    }
}



@media only screen and (max-width: 1000px) {
    #cloudImg { 
        width: 300px;
        height: 300px;  
    }
    .container {
        display: block;
        width: 100%;    
    }
    #opening {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .services {
        display: block;
        margin: 0;
    }
    .frame {
        width: 100%;
        border: none;
    }
    #scrollBack .arrow {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 4px;
    }
    .inner .content h1 {
        font-size: 3em;
    }
    .btn a{
        width: auto;
        text-align: left; 
        margin-left: 17.5%;  
        font-size: 1.5em;
    }
    .inner .content h1 {
        font-size: 2em;
    }
    section, article {
        width: 100%;
        margin:0;
    }
    .article {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    article img {
        width: 100%;
    }
    .imgleft, .imgright, .imgcenter {
        width: 100%;
        margin: 0;
    }
    body {
        margin-left: 10px;
    }
    #icon {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.contact-text {
    text-align: left;
}

.contact-text a {
    text-decoration: none;
    color: white;
}